# LAPORAN PRAKTIKUM SOAL 3.a

In [32]:
#Ichsan Budiman Putra_202131153
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# Decision Tree

### Pemanggilan Dataset tennis.csv

In [21]:
data = pd.read_csv('tennis.csv')
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

### Preprocessing Data

In [33]:
data_list_string = list()

# Loop melalui setiap kolom (fitur) dalam DataFrame 'data'
for col in data:
    # Mengambil nilai unik dari setiap kolom dan mengonversinya menjadi daftar
    data_list_string.append(data[col].unique().tolist())

# Menyimpan daftar nilai unik dari setiap kolom dalam 'data_list_string'
data_list_string

[['sunny', 'overcast', 'rainy'],
 ['hot', 'mild', 'cool'],
 ['high', 'normal'],
 [False, True],
 ['no', 'yes']]

In [23]:
X = data.drop('play',axis=1)
Y = data['play']

### Encoding Data String to Int

In [24]:
from sklearn.preprocessing import LabelEncoder

In [37]:
# Inisialisasi objek LabelEncoder
encode = LabelEncoder()

# Menggunakan LabelEncoder untuk mengkodekan setiap kolom dalam dataset X
for col in X:
    X[col] = encode.fit_transform(X[col])

# Menggunakan LabelEncoder untuk mengkodekan kolom target Y
Y = encode.fit_transform(Y)

# Inisialisasi list data numerik
data_list_num = list()

# Loop melalui kolom-kolom dalam dataset X
for col in X:
    # Mengambil nilai numerik unik dari setiap kolom dan mengonversinya menjadi daftar
    data_list_num.append(X[col].unique().tolist())

# Menyimpan daftar nilai numerik unik dari setiap kolom dalam 'data_list_num'
data_list_num

[[2, 0, 1], [1, 2, 0], [0, 1], [0, 1]]

In [40]:
data_key = {}

# Loop melalui daftar data numerik dan daftar data string
for i in range(len(data_list_num)):
    for j in range(len(data_list_num[i])):
        # Membuat pemetaan antara nilai string ke nilai numerik
        data_key[data_list_string[i][j]] = data_list_num[i][j]

# Hasilnya adalah kamus (dictionary) yang memetakan nilai string ke nilai numerik
data_key

{'sunny': 2,
 'overcast': 0,
 'rainy': 1,
 'hot': 1,
 'mild': 2,
 'cool': 0,
 'high': 0,
 'normal': 1,
 False: 0,
 True: 1}

### Modeling

In [41]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier()
model_tree.fit(X,Y)

DecisionTreeClassifier()

In [36]:
# Data uji awal dalam bentuk string
data_test = ['overcast', 'mild', 'normal', False]

# Loop melalui data uji dan mengganti nilai string menjadi nilai numerik
for i in range(len(data_test)):
    data_test[i] = data_key[data_test[i]]

# Hasilnya adalah data uji dalam bentuk numerik
data_test

[0, 2, 1, 0]

In [35]:
# Melakukan prediksi dengan model decision tree terhadap data uji tunggal (data_test)
prediksi = model_tree.predict([data_test])

# Memeriksa hasil prediksi dan mencetak hasil berdasarkan kelas yang diprediksi
if prediksi == 1:
    print("Hasil prediksi Play = yes")
else:
    print("Hasil prediksi Play = no")

Hasil prediksi Play = yes